@import url('https://fonts.googleapis.com/css?family=Lora');

#nav-bar {
    background-color: #FFD87B;
    margin: auto;
    border-style: solid;
    border-width: 1.5px;
    border-color: #8492A6;
}

#panel-pic {
    background-color: #FFFB75;
    border-style: solid;
    border-width: 1.5px;
    border-color: #8492A6;
}

#profile-pic {
    border-radius: 30%;
    width: 250px;
    height: 300px;
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
}

#bio {
    font-size: 18pt;
    margin-left: 20px;
}

#name {
    margin-top: 20px;
    font-size: 25pt;
}

#java-pic {
    height: 97px;
    margin-left: 4px;
}

#python-pic {
    height: 97px;
    width: 115px;
}

#html-pic {
    margin-left: 10px;
    height: 100px;
    width: 90px;
}

#css-pic {
    margin-top: 5px;
    margin-left: 15px;
    height: 95px;
    width: 80px;
}

#blender-pic {
    margin-left: 5px;
    height: 100px;
    width: 90px;
}

#empty-space {
    margin-top: 100px;
}

#back-home {
    font-size: 15pt;
}

.review-text {
    font-family: 'Lora';
    font-size: 20pt;  
}

.learn-more {
    color: #8492A6; 
}

.contact-logo {
    margin-top: 24px;
    margin-left: 24px;
    height: 110px;
    width: 110px;
}

.navbar-brand{
    font-size: 20pt;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #47525E;
}

.pic-l {
    margin-top: 4px;
    margin-left: 3px;
    height: 200px;
    width: 200px;
}

.pic-m {
    height: 165px;
    width: 110px;
    margin: auto;
}

.pic-s {
    width: 110px;
    height: 120px;
}

.frame-l{
    height: 220px;
    width: 210px;
    display: flex;
}

.frame-m {
    margin-top: 20px;
    height: 165px;
    width: 160px;
    display: flex;
}

.frame-s {
    margin-top: 10px;
    width: 113px;
    height: 107px;
}

.text-l {
    font-size: 30pt;
}

.text-m {
    font-size: 20pt;
}

.text-s {
    font-size: 15pt;
}

.ability-names {
    font-size: 22pt;
    font-weight: 500;
    margin-top: 25px;
}

.col-md-7 {
    margin: auto;
    margin-top: 40px;
}

.jumbotron {
    background-color: #FFD87B;
    width: 70%;
    height: 80%; 
    margin: auto;
    margin-top: 50px;
    border-style: solid;
    border-width: 1.5px;
    border-color: #8492A6;
    color: #47525E;
    display: flex;
}

.picture-frame {
    border-radius: 100%;
    background-color: white;
    border-style: solid;
    border-width: 1.5px;
    border-color: #8492A6;
    color: #47525E;
}

.rect-frame {
    width: 200px;
    border-radius: 20%;
    background-color: white;    
}

.exp-pics {
    margin-left: 40px;
    height: 180px;
    width: 130px;
}

h1 {
    margin-left: 20px;
}

body {
    background-color: #5EC7FF;
}

img{
    width: 150px;
    height: 50px;
}
