{% extends  "base.html"%}
{% load static %}
  
  
  {% block content %}
    <section name = "form">
        <div id="Home" class="jumbotron">
            <div class = "col justify-content-center">
                <div class = "row-md-auto">
                    <h1 class="text-md">Create Event</h1>
                </div>
                <div class = "row-md-auto">
                    <form id="form" method="POST" action = "{% url 'result' %}">
                        {% csrf_token %}
                        {{ date_form }}
                        <br>
                        <button type="submit" class="btn btn-default">Create</button>
                    </form>
                </div>
            </div>
        </div>
    </section>
  {% endblock content %}