{% extends  "base.html"%}
{% load static %}
  
  
{% block content %}
    <div id="Home" class="jumbotron">
            <div class="container-fluid">
                <div class = "row justify-content-center">
                    <div class = "col-sm-2"><p class="text-s">Day</p></div>
                    <div class = "col-sm-2"><p class="text-s">Date</p></div>
                    <div class = "col-sm-2"><p class="text-s">Time</p></div>
                    <div class = "col-sm-2"><p class="text-s">Event Name</p></div>
                    <div class = "col-sm-2"><p class="text-s">Place</p></div>
                    <div class = "col-sm-2"><p class="text-s">Category</p></div>
                </div>
            {% for Schedule in date_result %}
                <div class = "row justify-content-center">
                    <div class = "col-sm-2">{{Schedule.date|date:"l"}}</div>
                    <div class = "col-sm-2">{{Schedule.date}}</div>
                    <div class = "col-sm-2">{{Schedule.time}}</div>
                    <div class = "col-sm-2">{{Schedule.name}}</div>
                    <div class = "col-sm-2">{{Schedule.place}}</div>
                    <div class = "col-sm-2">{{Schedule.category}}</div>
                </div>
            {% endfor %}
            <div class = "row-lg-3"> </div>
            <div class = "row-lg-3">
                <form action="{% url 'delete' %}" method="POST">
                    {% csrf_token %}
                    <input class="btn btn-default btn-danger" type="submit" value="Delete All"/>
                </form>   
            </div> 
        </div>
   </div>
{% endblock content %}