<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
    crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="{% static "style.css" %}">
</head>

<body>
  <nav id="nav-bar" class="navbar justify-content-center navbar-expand navbar-fixed-top sticky-top">
      <a class="navbar-brand" href="{% url 'home' %}">Home</a>
      <a class="navbar-brand" href="{% url 'learn-more' %}">About</a>
      <a class="navbar-brand" href="{% url 'form' %}">Register</a>
      <a class="navbar-brand" href="{% url 'schedule' %}">Schedule</a>
      <a class="navbar-brand" href="{% url 'bonus' %}">Reviews</a>
  </nav>
    {% block content %}
    {% endblock content %}
</body>
</html>