{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div id="bonus" class="jumbotron">
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <p class="text-right review-text">
                        "10/10 best man alive"
                        <br>
                        - GameInformer
                    </p>
                </div>
                <div class="col-lg-6">
                    <p class="review-text">
                        "I want to hire this guy"
                        <br>
                        - Gabe Newell, Valve
                    </p>
                </div>
                <div class="w-100"></div>
                <div class="col-lg-6">
                    <p class="text-right review-text">
                        "I wish he was our magazine cover"
                        <br>
                        - Forbes
                    </p>
                </div>
                <div class="col-lg-6">
                    <p class="review-text">
                        "Just like Dark Souls"
                        <br>
                        - Hidetaka Miyazaki, FromSoftware
                    </p>
                </div>
                <div class="w-100"></div>
                <div class="col-lg-6">
                    <p class="text-right review-text">
                        "Man of The Year"
                        <br>
                        - IGN
                    </p>
                </div>
                <div class="col-lg-6">
                    <p class="review-text">
                        "Better than Trump"
                        <br>
                        - Times
                    </p>
                </div>
                <div class="w-100"></div>
                <div class="col-lg-6">
                    <p class="text-right review-text">
                        "Wish i was this guy"
                        <br>
                        - Christiano Ronaldo, Football Player
                    </p>
                </div>
                <div class="col-lg-6">
                    <p class="review-text">
                        "結婚してください"
                        <br>
                        - Chelly, Egoist
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}