<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static "style.css" %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>

<script>
    $(document).ready(function () {
        // Add smooth scrolling to all links
        $("a").on('click', function (event) {

            // Make sure this.hash has a value before overriding default behavior
            if (this.hash !== "") {
                // Prevent default anchor click behavior
                event.preventDefault();

                // Store hash
                var hash = this.hash;

                // Using jQuery's animate() method to add smooth page scroll
                // The optional number (800) specifies the number of milliseconds it takes to scroll to the specified area
                $('html, body').animate({
                    scrollTop: $(hash).offset().top - 80
                }, 800, function () {

                });
            } // End if
        });
    });
</script>

<body>
    <nav id="nav-bar" class="navbar navbar-fixed-top sticky-top">
        <a class="navbar-brand" href="{% url 'home' %}">Home</a>
        <div class="justify-content-center">
            <a class="navbar-brand" href="#Edu">Education</a>
            <a class="navbar-brand" href="#Ability">Abilities</a>
            <a class="navbar-brand" href="#Exp">Experience</a>
            <a class="navbar-brand" href="#Reach">Reach me</a>
        </div>
        <a class="navbar-brand" href="{% url 'bonus' %}">Review</a>
    </nav>

    <!-- Pada Edu layout menggunakan Grid tapi pakai inline jadi agak berantakan -->
    <div id="Edu" class="jumbotron">
        <div class="container-fluid">
            <div class="row">
                <div class="picture-frame frame-l">
                    <img class="pic-l" src="{% static "kepal_tinju.png" %}">
                    <div class="row-sm-auto" style="margin-top:50px;">
                        <h1 class="text-sm">Universitas Indonesia</h1>
                        <p class="text-sm" style="margin-left:25px;font-size:23pt">2017 - Current</p>
                    </div>
                </div>
            </div>
            <div class="row justify-content-end">
                <div style="margin-top:60px">
                    <h2 style="margin-right: 10px">SMAN 1 Tangerang</h2>
                    <p style="margin-left:180px;font-size:14pt;">2014 - 2017</p>
                </div>
                <div class="picture-frame frame-m">
                    <img class="pic-m" src="{% static "dugem.png" %}">
                </div>
            </div>
            <div class="row">
                <div class="picture-frame frame-s" style="margin-left:50px">
                    <img class="pic-s" src="{% static "soeta.png" %}">
                </div>
                <div style="margin-top:40px;margin-left:10px">
                    <h3 style="font-size:20pt">SMPN 1 Tangerang</h3>
                    <p>2011 - 2014</p>
                </div>
            </div>
        </div>
    </div>

    <!-- Pada Ability layout menggunakan Grid -->
    <div id="Ability" class="jumbotron">
        <!-- java -->
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-auto">
                    <div class="picture-frame frame-s">
                        <img id="java-pic" class="pic-s" src="{% static "java.png" %}">
                    </div>
                </div>
                <div class="col-md-3">
                    <p class="ability-names">Java</p>
                </div>
                <div class="col">
                    <div class="col-md-7">
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 75%" aria-valuenow="75"
                                aria-valuemin="0" aria-valuemax="100">75%</div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- python -->
            <div class="row">
                <div class="col-md-auto">
                    <div class="picture-frame frame-s">
                        <img id="python-pic" class="pic-s" src="{% static "python.png" %}">
                    </div>
                </div>
                <div class="col-md-3">
                    <p class="ability-names">Python</p>
                </div>
                <div class="col">
                    <div class="col-md-7">
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 75%" aria-valuenow="75"
                                aria-valuemin="0" aria-valuemax="100">75%</div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- html -->
            <div class="row">
                <div class="col-md-auto">
                    <div class="picture-frame frame-s">
                        <img id="html-pic" class="pic-s" src="{% static "html.png" %}">
                    </div>
                </div>
                <div class="col-md-3">
                    <p class="ability-names">HTML</p>
                </div>
                <div class="col">
                    <div class="col-md-7">
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 40%" aria-valuenow="40"
                                aria-valuemin="0" aria-valuemax="100">40%</div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- css -->
            <div class="row">
                <div class="col-md-auto">
                    <div class="picture-frame frame-s">
                        <img id="css-pic" class="pic-s" src="{% static "CSS.png" %}">
                    </div>
                </div>
                <div class="col-md-3">
                    <p class="ability-names">CSS</p>
                </div>
                <div class="col">
                    <div class="col-md-7">
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 40%" aria-valuenow="40"
                                aria-valuemin="0" aria-valuemax="100">40%</div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 3d model -->
            <div class="row">
                <div class="col-md-auto">
                    <div class="picture-frame frame-s">
                        <img id="blender-pic" class="pic-s" src="{% static "blender.png" %}">
                    </div>
                </div>
                <div class="col-md-3">
                    <p class="ability-names">Blender</p>
                </div>
                <div class="col">
                    <div class="col-md-7">
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 30%" aria-valuenow="30"
                                aria-valuemin="0" aria-valuemax="100">30%</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- pada Exp menggunakan Grid -->
    <div id="Exp" class="jumbotron">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-auto">
                    <div class="rect-frame">
                        <img class="exp-pics" src="{% static "big-r.png" %}">
                    </div>
                </div>
                <div class="col">
                    <h2>GameDev @ Ristek Fasilkom UI</h2>
                    <p class="text-left text-s">2018 - Current</p>
                    <br>
                    <p class="text-left text-m">As 3D Asset Creator</p>
                </div>
                <div class="w-100"></div>
                <div id="empty-space" class="col"></div>
                <div class="w-100"></div>
                <div class="col-2"></div>
                <div class="col-md-auto">
                    <div class="justify-content-end">
                        <h2>        Intern @ Vifth Floor Studio</h2>
                        <p class="text-right text-s">2018</p>
                        <br>
                        <p class="text-right text-m">As 3D Asset Helper</p>
                    </div>
                </div>
                <div class="col">
                    <div class="rect-frame">
                        <img class="exp-pics" src="{% static "Vifth.png" %}">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Pada media menggunakan layout media + grid -->
    <div id="Reach" class="jumbotron">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6">
                    <div class="media">
                        {% comment %} <div class="picture-frame frame-m align-self-center mr-3"> {% endcomment %}
                            <a href="https://www.facebook.com/Shawcken">
                                <img class="contact-logo" src="{% static "facebook.png" %}">
                            </a>
                        {% comment %} </div> {% endcomment %}
                        <div class="media-body">
                            <br><br><br>
                            <h2 class="text-l">Facebook</h2>
                        </div>
                    </div>
                </div>
                <div class="col-md-6"></div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="media">
                        {% comment %} <div class="picture-frame frame-m align-self-center mr-3"> {% endcomment %}
                            <a href="https://www.steamcommunity.com/id/darrand">
                                <img class="contact-logo" src="{% static "steam.png" %}">
                            </a>
                        {% comment %} </div> {% endcomment %}
                        <div class="media-body">
                            <br><br><br>
                            <h2 class="text-l">Steam</h2>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="media">
                        {% comment %} <div class="picture-frame frame-m align-self-center mr-3"> {% endcomment %}
                            <a href="mailto:darrand37@gmail.com">
                                <img class="contact-logo" src="{% static "gmail.png" %}">
                            </a>
                        {% comment %} </div> {% endcomment %}
                        <div class="media-body">
                            <br><br><br>
                            <h2 class="text-l">Gmail</h2>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="media">
                        {% comment %} <div class="picture-frame frame-m align-self-center mr-3"> {% endcomment %}
                            <a href="https://gitlab.com/Darrand">
                                <img class="contact-logo" src="{% static "gitlab.png" %}">
                            </a>
                        {% comment %} </div> {% endcomment %}
                        <div class="media-body">
                            <br><br><br>
                            <h2 class="text-l">GitLab</h2>
                        </div>
                    </div>
                </div>
                <div class="col-md-6"></div>
            </div>
        </div>
    </div>

</body>

</html>